<?xml version="1.0" encoding="UTF-8"?>
<config>
    <networks>
        <network>10.0.10.0/24</network>
    </networks>
    <hosts>
        <host>10.0.10.100</host>
        <host>10.0.10.54</host>
        <host>10.0.10.1</host>
    </hosts>
    <options>
        <network_discovery>false</network_discovery>
        <search_exploits>true</search_exploits>
        <samba>true</samba>
        <whatweb>true</whatweb>
        <enable_topology>true</enable_topology>
        <topology_only>false</topology_only>
        <log_commands>true</log_commands>
        <command_log_file>nmap_commands.txt</command_log_file>
    </options>
    <performance>
        <timing>T4</timing>
        <max_threads>10</max_threads>
        <scan_all_ports>false</scan_all_ports>
        <top_ports>1000</top_ports>
        <min_rate>1000</min_rate>
        <host_timeout>1m</host_timeout>
    </performance>
</config>
